<!--
  お試しにいくつかのボードを一覧表示したもの
  + 削除
  使用コントローラー: BoardCtrl (controller.js)
-->
<ion-view view-title="Select Board">
  <ion-content>
    <ion-list>
      <div class="item item-divider">
        My Boards
      </div>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="board in myBoards track by $index" type="item-text-wrap" href="#/custome/init/{{board.boardId}}">
        <img ng-src="{{board.boardContent.wallPaper}}">
        <h2>{{board.boardContent.boardName}}</h2>
        <p>{{board.boardContent.boardComment}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <button ng-click="remove(board)">
          =^._.^=
        </button>

      </ion-item>
    </ion-list>

    <ion-list>
      <div class="item item-divider">
        Templates
      </div>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="board in boards" type="item-text-wrap" href="#/custome/init/{{board.id}}">
        <img ng-src="{{board.img}}">
        <h2>{{board.name}}</h2>
        <p>{{board.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <button ng-click="remove(board)">
          削除
        </button>

      </ion-item>
    </ion-list>
  </ion-content>
  <div class="ads-trigger"><img ng-src=img/icon_pushme.png ng-click="popAd()" /></div>
</ion-view>
