<!--
  お試しにいくつかのボードを一覧表示したもの
  + 削除
  使用コントローラー: BoardCtrl (controller.js)
-->
<ion-view view-title="Select Board">
  <toaster-container toaster-options="{'time-out': 3000, 'close-button': true, 'animation-class': 'toast-top-center', 'tap-to-dismiss': 'false'}"></toaster-container>
  <ion-content>
    <ion-list can-swipe="listCanSwipe">
      <div class="item item-divider">
        My Boards
      </div>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="board in myBoards track by $index" type="item-text-wrap" ng-href="#/{{board.boardId}}" ng-click="selectWallpaper(board.boardContent.wallpaper)">
        <!-- ng-click="selectWallpaper()"はなんのためにあるか？-->
        <img ng-src="{{board.boardContent.wallpaper}}">
        <h2>{{board.boardContent.boardName}}</h2>
        <p>{{board.boardContent.boardComment}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-balanced" ng-click="openModal(board)">
          <i class="icon ion-edit"></i>
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="remove($index)">
          <i class="icon ion-trash-a"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
    <!-- 作成済ボード一覧画面で，プラスボタン押下するとテンプレート一覧の画面に遷移 -->
    <div>
      <a href="#/templates"><img ng-src="img/plusButton.png" ></a>
    </div>
  </ion-content>
</ion-view>
