<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
  使用コントローラー: BoardsDetailCtrl (controller.js)
-->
<ion-view view-title="{{board.name}}">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-android-color-palette"></button>
  </ion-nav-buttons>
  <ion-content class="padding" style="background: url({{board.img}}) no-repeat 0% 0%;">

  </ion-content>
</ion-view>
