<ion-view view-title="Select Template">
  <ion-content>
    <ion-list>
      <div class="item item-divider">
        Templates
      </div>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="board in boards" type="item-text-wrap" href="#/custome/init/{{board.id}}">
        <img ng-src="{{board.img}}">
        <h2>{{board.name}}</h2>
        <p>{{board.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <button ng-click="remove(board)">
          削除
        </button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
