<link href="css/sticky-modal.css" rel="stylesheet">
<link href="css/sticky-notes.css" rel="stylesheet">
<link href="css/boardname-modal.css" rel="stylesheet">
<ion-modal-view>
  <ion-header-bar align-title="center" class="bar-royal">
    <h1 class="title">Select Sticky note</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <div class="row palette-items">
        <div class="col col-33" ng-repeat="part in parts">
          <div class="{{part.sample}}" style="position: relative;" ng-click="select(part.id)"/>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-modal-view>
