<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
  使用コントローラー: BoardsDetailCtrl (controller.js)
-->
<ion-view view-title="{{board.name}}">
  <ion-content class="padding">
    <img ng-src="{{board.img}}" style="width: 64px; height: 64px">
    <p>
      {{board.lastText}}
    </p>
  </ion-content>
</ion-view>
