<!--
タブ用のhtml
-->
<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- Initタブ(1つめ) -->
  <ion-tab title="Init" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/custome/init">
    <!--
      ion-nav-viewは単なるフレーム(枠)に過ぎず、ここにion-viewがペイント(絵)として挿入されるイメージ
      name属性でapp.js内のview名(custome-init)を使用しているため、このフレームにはtemplates/tab-init.htmlというペイントが挿入されることになる
      いまいちよくわからないが、リンク先のURLに遷移する際、stateに記述されているviewsを確認し、
      viewsの名前を見てそれが設定されている<ion-nav-view>を探し出し、viewsのtemplatesを<ion-view>に挿入するのだろうか？
      -->
      <ion-nav-view name="custome-init"></ion-nav-view>
  </ion-tab>

<!--タブ2,3は使わない (as of 4/25) -->
  <!-- Boardsタブ(2つめ) -->
  <ion-tab title="Boards" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/custome/boards">
    <ion-nav-view name="custome-boards"></ion-nav-view>
  </ion-tab>

  <!-- Sampleタブ(3つめ) -->
  <ion-tab title="Sample" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/custome/sample">
    <ion-nav-view name="custome-sample"></ion-nav-view>
  </ion-tab>
<!-- -->
</ion-tabs>
