<!--
タブ用のhtml
-->
<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- Initタブ(1つめ) -->
  <ion-tab title="Init" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/custome/init">
    <ion-nav-view name="custome-init"></ion-nav-view>
  </ion-tab>


  <!-- Boardsタブ(2つめ) -->
  <ion-tab title="Boards" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/custome/boards">
    <ion-nav-view name="custome-boards"></ion-nav-view>
  </ion-tab>

  <!-- Sampleタブ(3つめ) -->
  <ion-tab title="Sample" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/custome/sample">
    <ion-nav-view name="custome-sample"></ion-nav-view>
  </ion-tab>

</ion-tabs>
