/* 付箋共通部 */
.sticky-note {
  position: absolute;
  word-break: break-all;
  white-space: pre-line; /* 付箋内での改行を反映する */
  color: #222;
  box-shadow: 3px 3px 3px #888;
  -webkit-box-shadow: 3px 3px 3px #888;
  overflow: auto;
}

.note-yellow {
  background: #f7e999;
}

.note-blue {
  background: #b9dcf4;
}

.note-green {
  background: #ccff99;
}

.note-pink {
  background: #ffadd6;
}

.note-purple {
  background: #ce9eff;
}

.note-white {
  background: #f8fbf8;
}

.note-normal {
  width: 100px;
  min-height: 100px;
}

.note-wide {
  width: 150px;
  min-height: 50px;
}

.note-small {
  width: 75px;
  min-height: 75px;
}

/* 付箋のサンプル */
.sample-normal {
  position: absolute;
  width: 85%;
  height: 85%;
  top: 7%;
  left: 7%;
}

.sample-wide {
  position: absolute;
  width: 92%;
  height: 45%;
  top: 27%;
  left: 3%;
}

.sample-small {
  position: absolute;
  width: 64%;
  height: 64%;
  top: 18%;
  left: 18%;
}
