/* Empty. Add your own CSS if you like */
.undo {
  padding-left: 10px;
  color: gray;
  font-weight: bold;
  text-decoration: underline;
}

/* 広告表示するかを問うためのアイコン表示に使用*/
.ads-trigger {
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 999;
}
