.undo {
  padding-left: 10px;
  color: gray;
  font-weight: bold;
  text-decoration: underline;
}
/* 未使用？
#undo {
  z-index: 999999;

  width: 100%;

  margin: auto;
  pointer-events: auto;

  -ms-word-wrap: break-word;
  word-wrap: break-word;

  background-color: #f89406;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

#undo-icon::before {
  content: "　　";
  background-repeat: no-repeat;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}

#undo-message {
  padding-left: 10px;
}

#undo-click {
  text-decoration: underline;
  padding-left: 40px;
}
*/

/* Hacked $ionicActionSheet
 * 既存のアクションシートはiOS向けのみ用意されている
 * Ionic TeamとしてはAndroid向けはMaterial Design対応しない方針であるため、現状は非常にシンプルになっているとのこと(シンプルすぎるだろ！)
 * なので、対応方法として各ボタンにアイコンを加え(on JS)、真ん中寄せ等々に変更した
 * refs: http://forum.ionicframework.com/t/actionsheets-android-ugly-styling-need-help/18462
 */
.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
  text-align: center; /* hacked left->center */
  border-color: transparent;
  font-size: 16px;
  color: inherit; }
.platform-android .action-sheet-cancel {
  display: block; } /* hacked nont->block */
.platform-android .action-sheet-has-icons .button {
  padding-left: 0px; } /* hacked 68px->0px */

/* $ionicActionSheetをもっとAndorid向けに変更するなら下記もコメントアウトを外して上書きする
.platform-android .action-sheet .action-sheet-title {
  font-size: 14px;
  padding: 16px;
  color: #666; }
.platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
  background: #e8e8e8; }
.platform-android .action-sheet-group {
  margin: 0;
  border-radius: 0;
  background-color: #fafafa; }
.platform-android .action-sheet-backdrop.active {
  background-color: rgba(0, 0, 0, 0.2); }
.platform-android .action-sheet {
  margin: 0; }
*/
